<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
    <div class="mobile-sidebar-header d-md-none">
        <div class="header-logo">
            <a href="admin.html"><img src="img/logo1.png" alt="logo"></a>
        </div>
    </div>
    <div class="sidebar-menu-content">
        <ul class="nav nav-sidebar-menu sidebar-toggle-view">
            <li class="nav-item sidebar-nav-item">
                <a href="#" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                <ul class="nav sub-group-menu sub-group-active">
                    <li class="nav-item">
                        <a href="manager.html" class="nav-link menu-active"><i class="fas fa-angle-right"></i>Manager</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item sidebar-nav-item">
                <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>Students</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item">
                        <a href="all-student.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                            Students</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item sidebar-nav-item">
                <a href="#" class="nav-link"><i
                        class="flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i><span>Class</span></a>
                <ul class="nav sub-group-menu sub-group-active">
                    <li class="nav-item">
                        <a href="add-class.html" class="nav-link"><i
                                class="flaticon-multiple-users-silhouette"></i>Add New Class</a>
                    </li>
                    <li class="nav-item">
                        <a href="class-list.html" class="nav-link"><i
                                class="flaticon-menu"></i><span>All Class</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="schedule-list.html" class="nav-link"><i class="flaticon-calendar"></i><span>Schedule List</span></a>
                    </li>
                </ul>
            </li>

            <li class="nav-item sidebar-nav-item">
                <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>Exam</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="exam-schedule.html"><i class="fas fa-angle-right"></i>Exam
                            Schedule</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item sidebar-nav-item">
                <a href="#" class="nav-link"><i class="flaticon-chat"></i><span>Application</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item">
                        <a href="View-list-application.html" class="nav-link"><i class="fas fa-angle-right"></i>List
                            application</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item sidebar-nav-item">
                <a href="#" class="nav-link"><i class="flaticon-chat"></i><span>Security</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item">
                        <a href="change-password.html" class="nav-link"><i class="fas fa-angle-right"></i>Change Password</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>